body {
  padding-bottom: 0px;
  color: #5a5a5a;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.content {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  
  background-image: URL(../Images/Background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.content h2 {
  font-weight: normal;
}

.col-lg-6 .well{
  margin-top:0px;
  margin-bottom: 20px;
  text-align: left;
	
}

.col-lg-12 .AboutMe{
margin-bottom: 30px;
}

.col-lg-12 .AboutMe .well{
margin-top: 70px;
background-color:black;
color:white;
font-weight: bold;
}

.col-lg-12 .Container{
margin-bottom: 70px;
margin-top: 30px;
}


.content .col-lg-6 p {
  margin-right: 10px;
  margin-left: 10px;
}

.col-lg-12 .table {
margin-bottom:10px;
color:white;
font-size: 15px;
}


.img-circle{
float:center;
}

.carousel{
height:400px;
Width:500px;
margin-left:30px;

}



.col-lg-6 .well{
height:400px;
Width:535px;
float:center;
margin-left:5px;
color:white;
font-size: 15px;

}



.col-lg-6{
margin-top:0px;
}

.col-lg-4 .well{
height:300px;
Width:300px;
color:white;
margin-left:25px;
font-size:15px
}


.row FfeA.col-lg-6  .btn{
color:blue:
}


.table-hover thead tr:hover th, 
.table-hover tbody tr:hover td {
        background-color: #070707;
}

.panel{
	background-image: URL(../Images/hi-tech.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.panel .panel-heading {
    background-image: none;
    background-color:#070707;
    color: white;
}

.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.well{
background-image: URL(../Images/hi-tech.jpg);
background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


.Project{
  background-image: URL(../Images/wood-logo-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.col-lg-4 .panel-body{
display:none;
}



.divider {
  margin-top: 40px 0;
}


.heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top:0px;
}


@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .heading {
    margin-top: 120px;
  }
}
